.faq-item{
   @apply p-2 relative bg-white rounded-[20px] overflow-hidden shadow-[0px_4px_20px_rgba(0,0,0,0.08)] hover:shadow-[0px_12px_40px_rgba(174,135,62,0.25)] transition-all duration-500 hover:-translate-y-1;
}

.section_testimonials .blaze-next,
.section_testimonials .blaze-prev{
    @apply hidden sm:flex;
}